.block-choose-img {
    height: 100px;
    padding-top: 100px;
}
@media (max-width:480px){
    .block-choose-img {
        padding-top: 15px;
    }
}

.block-upload-img {
    display: flex;
}
.block-upload-img .img-wall {
    text-align: center;
}
@media (max-width:480px){
    .block-upload-img .img-wall, .block-upload-img .img-book {
        text-align: center;
    }
    .block-upload-img .img-wall {
        margin-bottom: 10px;
    }
}

.img-wall button,
.img-book button {
    background: #fbbc05;
    color: #151515;
    border-color: #fbbc05;
    padding: 12px 5px;
    width: 250px;
    font-size: 15px;
    font-weight: 500;
    text-transform: capitalize;
}
.list-img {
    margin-top: 70px;
}

@media (max-width:480px){
    .list-img {
        margin-top: 15px;
    }
}


input[type=file]{

    display: inline;

  }

  .main-content{
    background-image: none;
    background-color: rgb(237, 237, 237);
    height: calc(100% - 170px);
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: auto;
  }
  #image_preview{

height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0 32px;

  }

  #image_preview img{

    width: 200px;

    padding: 5px;

  }
  .image-item{
  align-items: center;
  justify-content: center;
  display: flex;
  width: 269px;
  height: 269px;
  flex-shrink: 0;
  position: relative;
  cursor: pointer;
  margin-right: 10px;
  will-change: transform, scroll-position, width, opacity;
  z-index: 1;
  -webkit-animation: tile-appear 0.6s;
  animation: tile-appear 0.6s;
  overflow: hidden;
  }
  .image-item .image-main-container{
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 236px;
  height: 236px;
  margin-left: -7px;
  margin-top: -13px;
  -webkit-animation: fade-in 0.4s;
  animation: fade-in 0.4s;
  background-color: white;
  position: relative;
  }
  .image-main{
      top: 0px;
  left: -92.1667px;
  width: 421.333px;
  height: 237px;
  }
  .image-item .image-background {
  position: absolute;
  top: 0;
  width: 100%;
  }
  .upload-image{
      padding: 10px;
  }
  .modal-body .image-item{
    width: 100%;
  }
