.form-checkout {
    padding-top: 120px;
}
.title-checkout {
    text-align: center;
    height: 80px;
    color: #151515;
    font-weight: 500;
    font-size: 19px;
    line-height: 80px;
    border-radius: 10px 10px 0px 0px;
    margin-bottom: 0px;
    background: linear-gradient(
        21deg,
        rgba(250, 193, 0, 1) 1%,
        rgba(246, 206, 0, 0.9948354341736695) 45%,
        rgba(241, 199, 9, 0.9108018207282913) 100%
    );
}
.title-order {
    font-weight: 500;
    font-size: 20px;
    color: #333;
    padding-left: 0px;
    margin-bottom: 25px !important;
}
.contain-attr {
    padding: 20px;
    border: 1px solid #ced4da;
    margin-bottom: 2%;
    border-radius: 0px 0px 10px 10px;
    border-top: none;
}
.btn-submit {
    width: 130px;
    color: #fff;
    background-color: #ffc400;
    border-color: #ffc400;
}
/*  */
.detail-order .image img {
    object-fit: cover;
    width: 80px;
}
.detail-order {
    border-bottom: 1px solid #d2c7c7;
}
.address-order p {
    color: #333;
    font-weight: 100;
    font-size: 16px;
    margin-bottom: 3px;
}
.title-address-order {
    font-weight: 500;
    font-size: 20px;
    color: #333;
    padding-left: 0px;
    margin-bottom: 5px !important;
}
